<div class="container text-center">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white ms-2">
            <p class="text-start fs-5">ABSENCE - Controle de Faltas</p>
            <p class="text-start fs-6">Sistema Utilizado para controle de faltas</p>
        </div>
    </div>
    <div class="row">
            &nbsp;
    </div>
    <div class="row">
        {{#each data}}
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-1 bg-dark text-light ms-3">
            <div class="row">
                <p>Sigla:</p>
            </div>
            <div class="row">
                <p>Qnt. Falta:</p>
            </div>
            <div class="row">
                <p class="my-3">Ações:</p>
            </div>
        </div>
        {{#each this}}
        <div class="col-1">
            <div class="row">
                <p class="text-center fs-6">{{#ifExists this.sigla}}{{/ifExists}}</p>
            </div>
            <div class="row">
                <p class="text-center fs-6">{{this.quantFaltas}}</p>
            </div>
            <div class="row">
                <a href="/addFalta/{{id}}/{{quantAulas}}/{{quantFaltas}}">
                    <button type="button" class="btn btn-success mb-1"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        +
                    </button>
                </a>
                <a href="/delFalta/{{id}}/{{quantAulas}}/{{quantFaltas}}">
                    <button type="button" class="btn btn-danger"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        -
                    </button>
                </a>
            </div>
        </div>
        {{/each}}
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>
        {{/each}}
        <div class="row">
            &nbsp;
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/cadastro">
            <button class="btn btn-dark" type="button" >Adicionar matéria</button>
        </a>
    </div>
    </div>
</div>